.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-anim] {
  transition: all 0.3s ease-in-out;
}

[data-anim-name="fade-in-left"] {
  transform: translateX(-50px);
  opacity: 0;
}

[data-anim-name="fade-in-right"] {
  transform: translateX(50px);
  opacity: 0;
}

[data-anim-name="fade-in-up"] {
  transform: translateY(50px);
  opacity: 0;
}

[data-anim-name="fade-in"] {
  opacity: 0;
}

[data-anim-del="0.1"] {
  transition-delay: 0.1s;
}

[data-anim-del="0.2"] {
  transition-delay: 0.2s;
}

[data-anim-del="0.3"] {
  transition-delay: 0.3s;
}

[data-anim-del="0.4"] {
  transition-delay: 0.4s;
}

[data-anim-del="0.5"] {
  transition-delay: 0.5s;
}

.to-top-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: 100;
}

.to-top-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: rgba(94, 19, 255, 0.5);
  transition: transform $trans-default;

  svg {
    rotate: -90deg;
  }

  @include hover-focus {
    transform: scale(1.1);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.error {
  @include font($ff-inter, 400, 12px, 1);
  color: #ff0000;
  position: absolute;
  bottom: -15px;
  left: 10px;
  display: none;
}
