@import "./common/variables.scss";
@import "./utils/mixins.scss";
@import "./utils/utils.scss";
@import "./utils/reboot.scss";

@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/container.scss";

@import "./blocks/btn.scss";
@import "./blocks/cookies.scss";
@import "./blocks/modal.scss";
@import "./blocks/swiper.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/parallax.scss";
@import "./blocks/about.scss";
@import "./blocks/stats.scss";
@import "./blocks/business.scss";
@import "./blocks/scopes.scss";
@import "./blocks/performers.scss";
@import "./blocks/edu.scss";
@import "./blocks/process.scss";
@import "./blocks/bubbles.scss";
@import "./blocks/cases.scss";
@import "./blocks/founder.scss";
@import "./blocks/reviews.scss";
@import "./blocks/impact.scss";
@import "./blocks/contact.scss";
@import "./blocks/legal.scss";
@import "./blocks/footer.scss";
@import "./blocks/page404.scss";
@import "./blocks/static.scss";
