.about {
  background: #080929;
  padding-top: 60px;

  @include vp-960 {
    padding-top: 82px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1288px;
  }
}

.about__title {
  @include font($ff-inter, 600, 32px, 1.4);
  color: $color-default-white;
  margin-bottom: 40px;
  text-align: center;

  span {
    @include font($ff-atma, 600, 32px, 1.4);
    text-transform: uppercase;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 40px;

  @include vp-960 {
    margin-bottom: 79px;
  }
}

.about__item {
  @include font($ff-inter, 400, 15px, 1.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 420px;
  border-radius: 15px;
  padding: 20px 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.11), 0 18px 18px 0 rgba(0, 0, 0, 0.1), 0 41px 25px 0 rgba(0, 0, 0, 0.06), 0 73px 29px 0 rgba(0, 0, 0, 0.02), 0 115px 32px 0 rgba(0, 0, 0, 0);

  @include vp-960 {
    padding: 30px;
  }

  &--business {
    background-image:
      image-set(url("../../images/about-1@1x.webp") 1x type("image/webp"),
        url("../../images/about-1@2x.webp") 2x type("image/webp"),
        url("../../images/about-1@1x.png") 1x type("image/png"),
        url("../../images/about-1@2x.png") 2x type("image/png"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--performers {
    background-image:
      image-set(url("../../images/about-2@1x.webp") 1x type("image/webp"),
        url("../../images/about-2@2x.webp") 2x type("image/webp"),
        url("../../images/about-2@1x.png") 1x type("image/png"),
        url("../../images/about-2@2x.png") 2x type("image/png"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--education {
    background-image:
      image-set(url("../../images/about-3@1x.webp") 1x type("image/webp"),
        url("../../images/about-3@2x.webp") 2x type("image/webp"),
        url("../../images/about-3@1x.png") 1x type("image/png"),
        url("../../images/about-3@2x.png") 2x type("image/png"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.about__item-title {
  @include font($ff-inter, 700, 24px, 1.4);
  text-align: center;
  color: $color-black-russian;
  margin-bottom: 24px;
}

.about__sublist {
  text-align: center;
  margin: 0;
  padding: 0;
}

.about__subitem {
  @include font($ff-inter, 400, 15px, 1.5);
  text-align: center;
  margin-bottom: 4px;

  @include vp-960 {
    font-size: 16px;
  }
}

.about__link {
  @include font($ff-inter, 500, 16px, 1);
  text-transform: uppercase;
  text-align: center;
  color: $color-black-russian;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.11), 0 18px 18px 0 rgba(0, 0, 0, 0.1), 0 41px 25px 0 rgba(0, 0, 0, 0.06), 0 73px 29px 0 rgba(0, 0, 0, 0.02), 0 115px 32px 0 rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: $color-default-white;
  padding: 18px 28px;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.7;
  }
}
