  .btn {
    @include font($ff-inter, 600, 16px, 1.25);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-default-white;
    text-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
    width: fit-content;
    height: 50px;
    background: #5e13ff;
    box-shadow: 0 6px 0 0 #4a0fca;
    border: none;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 2px;
    cursor: pointer;
    transition: opacity $trans-default;

    @include hover-focus {
      &:not(:disabled) {
        opacity: 0.7;
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #6d29ff 0%, #5e13ff 40%, #5e13ff 70%, #7e41ff 100%);
      border-radius: 10px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #5e13ff;
      z-index: 10;
    }

    &--bus {
      background: #008275;
      box-shadow: 0 6px 0 0 #00655B;

      &::before {
        background: linear-gradient(to bottom, #188e 82 0%, #008275 40%, #008275 70%, #339b90 100%);
      }

      span {
        background: #008275;
      }
    }

    &--edu {
      background: #299bff;
      box-shadow: 0 6px 0 0 #217ac9;

      &::before {
        background: linear-gradient(to bottom, #3da4ff 82 0%, #299bff 40%, #299bff 70%, #54afff 100%);
      }

      span {
        background: #299bff;
      }
    }

    &:disabled {
      background: #979797;
      box-shadow: 0 6px 0 0 #797979;
      cursor: not-allowed;

      &::before {
        background: linear-gradient(to bottom, #a1a1a1 82 0%, #979797 40%, #979797 70%, #acacac 100%);
      }

      span {
        background: #979797;
      }

    }
  }
