.bubbles {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 1440px;
  left: 50%;
  translate: -50% 0;
  z-index: -1;

  span {
    @include font($ff-inter, 500, 14px, 1);
    text-transform: uppercase;
    color: $color-black-russian;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0 25px;
    height: 50px;
    width: fit-content;
    position: absolute;

    &.purple {
      background: #cfb9ff;
    }

    &.blue {
      background: #b2d9d6;
    }

    &.green {
      background: #b1daff;
    }

    &.shadowed {
      box-shadow: 0 4px 10px 0 rgba(194, 194, 194, 0.98), 0 18px 18px 0 rgba(194, 194, 194, 0.85), 0 40px 24px 0 rgba(194, 194, 194, 0.5), 0 71px 28px 0 rgba(194, 194, 194, 0.15), 0 111px 31px 0 rgba(194, 194, 194, 0.02);
    }
  }
}

.bubble {
  position: absolute;

  &:nth-child(1) {
    bottom: 139px;
    left: 9px;

    span {
      rotate: -9deg;
    }
  }

  &:nth-child(2) {
    bottom: 86px;
    left: 16px;

    span {
      rotate: -22deg;
    }
  }

  &:nth-child(3) {
    bottom: 56px;
    left: 143px;
  }

  &:nth-child(4) {
    bottom: 98px;
    left: 218px;

    span {
      rotate: 40deg;
    }
  }

  &:nth-child(5) {
    bottom: 117px;
    left: 366px;

    span {
      rotate: -23deg;
    }
  }

  &:nth-child(6) {
    bottom: 87px;
    left: 420px;

    span {
      rotate: -39deg;
    }
  }

  &:nth-child(7) {
    bottom: 56px;
    left: 521px;
  }

  &:nth-child(8) {
    bottom: 87px;
    left: 646px;

    span {
      rotate: 43deg;
    }
  }

  &:nth-child(9) {
    bottom: 89px;
    left: 758px;

    span {
      rotate: -58deg;
    }
  }

  &:nth-child(10) {
    bottom: 110px;
    left: 873px;

    span {
      rotate: 5deg;
    }
  }

  &:nth-child(11) {
    bottom: 56px;
    left: 845px;
  }

  &:nth-child(12) {
    bottom: 56px;
    left: 970px;
  }

  &:nth-child(13) {
    bottom: 114px;
    left: 1068px;

    span {
      rotate: -4deg;
    }
  }

  &:nth-child(14) {
    bottom: 83px;
    left: 1144px;

    span {
      rotate: -34deg;
    }
  }

  &:nth-child(15) {
    bottom: 109px;
    left: 1292px;
  }

  &:nth-child(16) {
    bottom: 56px;
    left: 1243px;
  }
}
