.business {
  padding: 60px 0;

  @include vp-960 {
    padding-top: 72px;
    padding-bottom: 80px;
  }
}

.business__title {
  @include font($ff-inter, 600, 38px, 1.23);
  color: #1c1c1c;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.015em;

  @include vp-960 {
    font-size: 42px;
  }

  span {
    @include font($ff-atma, 600, 42px, 1.23);

    @include vp-960 {
      font-size: 42px;
    }
  }
}

.business__subtitle {
  @include font($ff-inter, 400, 16px, 1.25);
  color: #1c1c1c;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: 0.015em;
}

.business__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1017px;
  margin: 0 auto 61px;

  @include vp-640 {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 36px;
  }

  @include vp-960 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.business__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 16px;

  img {
    grid-column: 1 / 2;
  }
}

.business__item-title {
  @include font($ff-inter, 500, 18px, 1.52);
  letter-spacing: 0.03em;
  color: #1c1c1c;
  margin-bottom: 7px;
  grid-column: 2 / 3;
}

.business__item-text {
  @include font($ff-inter, 400, 14px, 1.29);
  letter-spacing: -0.01em;
  color: rgba(28, 28, 28, 0.65);
  grid-column: 2 / 3;
}

.business__link {
  max-width: 424px;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  letter-spacing: 0.03em;

  span {
    text-align: center;
    padding: 10px;
  }
}
