.cases {
  background: $color-black-russian;
  padding: 60px 0;

  @include vp-960 {
    padding: 100px 0;
  }

  .container {
    padding: 0;
    max-width: 100%;
  }
}

.cases__title {
  @include font($ff-inter, 500, 32px, 1.4);
  color: $color-default-white;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 20px;

  @include vp-960 {
    font-size: 42px;
  }
}

.cases__subtitle {
  @include font($ff-inter, 400, 16px, 1.6);
  color: $color-default-white;
  margin-bottom: 40px;
  text-align: center;
  padding: 0 20px;

  @include vp-960 {
    margin-bottom: 80px;

  }
}

.cases__swiper {
  padding: 0 20px;

  @include vp-1200 {
    padding: 0 150px;
  }
}

.cases__list {
  display: flex;
  margin-bottom: 40px;
  cursor: grab;
  user-select: none;

  @include vp-960 {
    margin-bottom: 60px;
  }
}

.cases__item {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: 1px solid #ebedf0;
  border-radius: 15px;
  padding: 32px;
  min-width: 335px;
  max-width: 335px;


  @include vp-640 {
    min-width: 454px;
    max-width: 454px;
  }
}

.cases__header {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.cases__logo {
  min-width: 76px;
  height: 76px;
  background: $color-black-russian;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cases__name {
  @include font($ff-inter, 500, 20px, 1.4);
  color: $color-black-russian;
}

.cases__more {
  a {
    @include font($ff-inter, 400, 10px, 1.6);
    color: #8e939c;
  }
}

.cases__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cases__item-title {
  @include font($ff-inter, 400, 20px, 1.6);
  color: #5e13ff;
}

.cases__item-text {
  @include font($ff-inter, 400, 14px, 1.6);
  color: $color-black-russian;
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cases__button-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.cases__item-btn {
  @include font($ff-inter, 400, 14px, 1);
  color: #717171;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e939c;
  border-radius: 10px;
  padding: 12px 25px;
  background: transparent;
  cursor: pointer;
  transition: color $trans-default, border-color $trans-default;

  @include hover-focus {
    color: #1c1c1c;
    border-color: #1c1c1c;
  }
}
