.contact {
  background: $color-black-russian;
  padding: 40px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact__title {
  @include font($ff-inter, 500, 32px, 1.4);
  color: $color-default-white;
  margin-bottom: 20px;
  text-align: center;

  @include vp-960 {
    font-size: 40px;
  }
}

.contact__text {
  @include font($ff-inter, 400, 16px, 1.4);
  color: $color-default-white;
  max-width: 540px;
  margin-bottom: 16px;
  text-align: center;

  &:last-of-type {
    font-weight: 500;
    margin-bottom: 32px;
  }
}

.contact__form {
  width: 100%;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;

    @include vp-960 {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 18px;
    }
  }

  label {
    display: block;
    width: 100%;
    max-width: 321px;
    position: relative;

    @include vp-960 {}
  }

  input {
    @include font($ff-inter, 400, 16px, 1.4);
    width: 100%;
    height: 56px;
    background: $color-default-white;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 10px 0 #5e13ff;
    }

    &::placeholder {
      color: $color-manatee;
    }
  }

  button {
    width: 100%;
    max-width: 321px;

    @include vp-960 {
      max-width: 126px;
    }

    &.loading {
      pointer-events: none;
    }
  }

  input[type="checkbox"] {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    margin: 0;
  }

  .contact__agreement {
    position: relative;
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;

    span:not(.error) {
      @include font($ff-inter, 400, 14px, 1.71);
      color: $color-default-white;
      padding-left: 36px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 12px;
      left: 5px;
      translate: 0 -50%;
      width: 14px;
      height: 14px;
      border-radius: 3px;
      border: 2px solid $color-default-white;

      @include vp-960 {
        top: 50%;
      }
    }

    &:has(input:checked)::before {
      background: url("../../icons/check-mark.svg") center no-repeat;
      background-size: 8px 6px;
    }
  }
}
