.edu {
  position: relative;
  background: $color-black-russian;
  padding: 120px 0;
  z-index: 10;
}

.edu__title {
  @include font($ff-inter, 600, 42px, 1.23);
  color: $color-default-white;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.015em;
}

.edu__subtitle {
  @include font($ff-inter, 400, 16px, 1.25);
  color: $color-default-white;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: 0.03em;
}

.edu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 974px;
  margin: 0 auto;
  margin-bottom: 61px;
}

.edu__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 26px;
  max-width: 360px;
}

.edu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: rgba(41, 155, 255, 0.6);
  border-radius: 15px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.edu__item-title {
  @include font($ff-inter, 500, 21px, 1.52);
  color: $color-default-white;
  margin-bottom: 8px;
  grid-column: 2 / 3;
}

.edu__item-text {
  @include font($ff-inter, 400, 17px, 1.18);
  color: $color-default-white;
  grid-column: 2 / 3;
  letter-spacing: 0.015em;
}

.edu__cta {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 47px;
  border-top: 1px solid #95969c;
}

.edu__cta-title {
  @include font($ff-inter, 500, 32px, 1.19);
  letter-spacing: -0.02em;
  color: $color-default-white;
  grid-column: 1 / 2;
  margin-bottom: 12px;
}

.edu__cta-text {
  @include font($ff-inter, 400, 19px, 1.37);
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.7);
  grid-column: 1 / 2;
}

.edu__link {
  position: relative;
  width: 313px;
  height: 45px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: end;
  align-self: center;
  margin-bottom: 5px;

  &::after {
    position: absolute;
    content: "";
    bottom: -40px;
    right: -25px;
    width: 49px;
    height: 49px;
    background: url("../../images/cursor.svg") center no-repeat;
    z-index: 10;
    animation: scale infinite 1s;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }

}
