.founder {
  padding: 109px 0 82px;

  .container {
    display: flex;
    gap: 91px;
  }
}

.founder__image {
  position: relative;
  width: 448px;
  min-width: 448px;
  height: 589px;
  border-radius: 7px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 35px;
    left: 35px;
    background: linear-gradient(180deg, #e2d7fa 4.81%, #ab86fc 100%);
    border-radius: 7px;
    z-index: -1;
  }
}

.founder__title {
  @include font($ff-inter, 600, 32px, 1.4);
  color: $color-default-black;
  display: inline-flex;
  gap: 12px;
  margin-bottom: 4px;

  span.sub {
    @include font($ff-inter, 500, 10px, 1);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 8px 15px;
    background: rgba(94, 19, 255, 0.15);
    text-transform: uppercase;
    color: #380b99;
    height: fit-content;
  }
}

.founder__subtitle {
  @include font($ff-inter, 400, 16px, 1.25);
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 16px;
}

.founder__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.founder__text {
  @include font($ff-inter, 400, 20px, 1.4);
  color: $color-default-black;

  &--small {
    font-size: 16px;
    line-height: 1.38;
  }
}

.founder__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 60px;
  max-width: 530px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 3px;
    height: 92%;
    background: #5e13ff;
    border-radius: 50px;
  }
}

.founder__item {
  display: flex;
  gap: 40px;
}

.founder__count {
  @include font($ff-atma, 600, 32px, 1.4);
  color: $color-default-black;
}

.founder__link {
  width: 208px;
}
