.founder {
  padding: 60px 0;

  @include vp-960 {
    padding: 109px 0 82px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include vp-960 {
      flex-direction: row;
      gap: 91px;
    }
  }
}

.founder__image {
  width: 100%;
  max-width: 320px;
  margin-bottom: 40px;
  margin-right: 16px;

  @include vp-960 {
    display: block;
    max-width: 448px;
    height: auto;
    margin: 0;
  }

  picture {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 15px;
      left: 15px;
      background: linear-gradient(180deg, #e2d7fa 4.81%, #ab86fc 100%);
      border-radius: 7px;
      z-index: -1;

      @include vp-960 {
        top: 35px;
        left: 35px;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
  }
}

.founder__content {
  display: contents;

  @include vp-960 {
    display: flex;
    flex-direction: column;
  }
}

.founder__title {
  @include font($ff-inter, 600, 32px, 1.4);
  color: $color-default-black;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  margin-bottom: 4px;
  width: fit-content;
  order: -2;

  @include vp-960 {
    order: 0;
    display: inline-flex;
    flex-direction: row;
  }

  span.sub {
    @include font($ff-inter, 500, 10px, 1);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 8px 15px;
    background: rgba(94, 19, 255, 0.15);
    text-transform: uppercase;
    color: #380b99;
    height: fit-content;
    width: fit-content;
    margin-left: auto;

    @include vp-960 {
      margin: 0;
    }
  }
}

.founder__subtitle {
  @include font($ff-inter, 400, 16px, 1.25);
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 16px;
  order: -1;

  @include vp-960 {
    order: 0;
  }
}

.founder__info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include vp-960 {
    gap: 24px;
  }
}

.founder__text {
  @include font($ff-inter, 400, 16px, 1.4);
  color: $color-default-black;

  @include vp-960 {
    font-size: 20px;
  }

  &--small {
    font-size: 14px;
    line-height: 1.38;

    @include vp-960 {
      font-size: 16px;
    }
  }
}

.founder__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  max-width: 530px;

  @include vp-960 {
    gap: 30px;
    padding-left: 60px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 3px;
    height: 92%;
    background: #5e13ff;
    border-radius: 50px;
  }
}

.founder__item {
  display: flex;
  gap: 24px;

  @include vp-960 {
    gap: 40px;
  }
}

.founder__count {
  @include font($ff-atma, 600, 26px, 1.4);
  color: $color-default-black;

  @include vp-960 {
    font-size: 32px;
  }
}

.founder__link {
  width: 208px;
  margin: 0 auto;

  @include vp-960 {
    margin: 0;
  }
}
