.header {
  position: fixed;
  background: rgba(7, 8, 40, 0.5);
  color: #ffffff;
  padding: 20px;
  padding: 5px 16px;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  z-index: 100;
  transition: transform $trans-default, background-color $trans-default;

  &::after {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    backdrop-filter: blur(10px);
    z-index: -1;
  }

  @include vp-960 {
    padding: 11px 20px;
  }

  @include vp-1200 {
    padding: 20px;
  }

  &--collapsed {
    transform: translateY(-200%);
  }

  &--default {
    background: $color-black-russian;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0;
  }
}

.header__link {
  @include font($ff-inter, 500, 16px, 1.35);
  color: $color-default-white;
  box-shadow: inset 0 3px 4px 0 rgba(223, 229, 255, 0.3), inset 0 1px 1px 0 rgba(255, 255, 255, 0.35), inset 0 -2px 2px 0 rgba(80, 70, 189, 0.6), 0 2px 3px 0 rgba(55, 52, 209, 0.21);
  background: linear-gradient(180deg, #c5a9fe 0%, #5e13ff 100%);
  border-radius: 12px;
  padding: 13px 20px;
  min-width: 120px;
  align-items: center;
  justify-content: center;
  transition: opacity $trans-default;
  display: none;

  @include vp-960 {
    display: flex;

    @include hover-focus {
      opacity: 0.7;
    }
  }
}

.header__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;

  @include vp-1200 {
    display: none;
  }

  span {
    position: relative;
    width: 21px;
    height: 2px;
    border-radius: 5px;
    background-color: $color-default-white;
    transition: transform $trans-default;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      background-color: $color-default-white;
      width: 21px;
      height: 2px;
      border-radius: 5px;
      transition: transform $trans-default, opacity $trans-default;
    }

    &::before {
      top: -5px;
    }

    &::after {
      bottom: -5px;
    }
  }

  &.is-active {
    span {
      rotate: 45deg;

      &::before {
        transform: translateY(5px);
        opacity: 0;
      }

      &::after {
        top: 0;
        transform: rotate(-90deg);
      }
    }
  }
}
