.impact {
  background: linear-gradient(180deg, #f0efff 0%, #adacfa 100%);
  padding-top: 40px;

  @include vp-960 {
    padding-top: 60px;
  }

  .container {
    background-image:
      image-set(url("../../images/impact-bg@1x.webp") 1x type("image/webp"),
        url("../../images/impact-bg@2x.webp") 2x type("image/webp"),
        url("../../images/impact-bg@1x.png") 1x type("image/png"),
        url("../../images/impact-bg@2x.png") 2x type("image/png"));
    background-size: 375px;
    background-position: 50% 130px;
    background-repeat: no-repeat;

    @include vp-640 {
      background-position: 100% 50%;
      background-size: 50vw;
    }

    @include vp-1200 {
      background-size: 694px 674px;
      background-position: 100% 100%;
    }
  }
}

.impact__content {
  padding-bottom: 40px;

  @include vp-640 {
    padding-bottom: 66px;
  }
}

.impact__title {
  @include font($ff-inter, 600, 32px, 1.4);
  color: #1c1c1c;
  margin-bottom: 12px;
  text-align: center;

  @include vp-640 {
    font-size: 42px;
    text-align: left;
  }
}

.impact__subtitle {
  @include font($ff-inter, 400, 16px, 1.25);
  color: rgba(28, 28, 28, 0.8);
  text-align: center;
  margin-bottom: 390px;

  @include vp-640 {
    max-width: 490px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.impact__list {
  display: grid;
  gap: 12px;
  margin-bottom: 40px;

  @include vp-640 {
    grid-template-columns: repeat(2, 1fr);
    width: 50vw;
    max-width: 520px;
  }
}

.impact__item {
  padding: 13px 23px;
  box-shadow: 0 17px 37px 0 rgba(173, 172, 210, 0.1), 0 67px 67px 0 rgba(173, 172, 210, 0.09), 0 151px 91px 0 rgba(173, 172, 210, 0.05), 0 268px 107px 0 rgba(173, 172, 210, 0.01), 0 419px 117px 0 rgba(173, 172, 210, 0);
  background: $color-default-white;
  border-radius: 10px;
}

.impact__item-title {
  @include font($ff-inter, 500, 21px, 1.52);
  letter-spacing: -0.02em;
  color: #161c2d;
  margin-bottom: 8px;
}

.impact__item-text {
  @include font($ff-inter, 400, 14px, 1.29);
  letter-spacing: -0.01em;
  color: #161c2d;
}

.impact__link {
  width: 298px;
  margin: 0 auto;

  @include vp-640 {
    margin: 0;
  }
}
