.nav {
  display: none;

  &.is-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1),
      0 15px 30px 0 rgba(0, 0, 0, 0.05),
      0 5px 10px 0 rgba(0, 0, 0, 0.05),
      inset 0 0 100px 0 rgba(204, 215, 255, 0.15);
    border-radius: 24px;
    top: 60px;
    right: 0;
    padding: 16px;
    padding-bottom: 24px;
    z-index: 100;
  }

  @include vp-960 {
    &.is-active {
      top: 71px;
      right: 20px;
    }
  }

  @include vp-1200 {
    display: flex;
    position: relative;
    background: transparent;
    border-radius: 0;
    top: auto;
    right: auto;
    padding: 0;
    padding-bottom: 0;
    backdrop-filter: none;
    box-shadow: none;

    &.is-active {
      position: relative;
      background: transparent;
      box-shadow: none;
      backdrop-filter: none;
      border-radius: 0;
      top: auto;
      right: auto;
      padding: 0;
    }
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include vp-1200 {
    flex-direction: row;
    gap: 19px;
  }

}

.nav__item {
  a {
    @include font($ff-inter, 500, 14px, 1.52);
    color: $color-default-black;
    padding: 4px;
    display: block;
    transition: opacity $trans-default;

    @include vp-1200 {
      font-size: 16px;
      color: $color-default-white;
    }

    @include hover-focus {
      opacity: 0.7;
    }
  }
}

.nav__link.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 36px;
  min-width: 120px;
  margin-top: 24px;

  @include vp-960 {
    display: none;
  }
}

.header--collapsed {
  .nav {
    display: none;

    @include vp-1200 {
      display: flex;
    }
  }
}
