.parallax {
  position: absolute;
  inset: 0 0 0 50%;
  max-width: 587px;

  img {
    position: absolute;
  }

  img:nth-child(1) {
    top: 48px;
    right: 76%;
  }

  img:nth-child(2) {
    top: 72px;
    right: 10.2%;
  }

  img:nth-child(3) {
    top: 329px;
    right: 96.7%;
  }

  img:nth-child(4) {
    top: 316px;
    right: 5.9%;
  }

  img:nth-child(5) {
    top: 493px;
    right: 83%;
  }

  img:nth-child(6) {
    top: 570px;
    right: 27.6%;
  }
}
