.performers {
  background: linear-gradient(90deg, #f0efff 0%, #adacfa 100%);

  .container {
    padding: 60px 16px;
    background-image:
      image-set(url("../../images/performers-bg@1x.webp") 1x type("image/webp"),
        url("../../images/performers-bg@2x.webp") 2x type("image/webp"),
        url("../../images/performers-bg@1x.png") 1x type("image/png"),
        url("../../images/performers-bg@2x.png") 2x type("image/png"));
    background-size: 375px;
    background-position: calc(50% - 20px) 140px;
    background-repeat: no-repeat;

    @include vp-640 {
      background-position: calc(100% - 20px) 100%;
      background-size: 50vw;
      padding-left: 40px;
    }

    @include vp-1200 {
      padding: 60px 0 65px 90px;
      background-size: 697px 611px;
    }
  }
}

.performers__title {
  @include font($ff-inter, 600, 32px, 1.3);
  color: $color-black-russian;
  letter-spacing: 0.015em;
  text-align: center;
  margin-bottom: 370px;

  @include vp-640 {
    text-align: left;
    margin-bottom: 24px;
  }

  span {
    font-family: $ff-atma;
  }
}

.performers__list {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  @include vp-640 {
    max-width: 407px;
  }
}

.performers__item {
  position: relative;
  padding-left: 65px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: rgba(94, 19, 255, 0.1);
    background-image: url("../../icons/check-mark-big.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }
}

.performers__item-title {
  @include font($ff-inter, 500, 20px, 1.2);
  letter-spacing: 0.015em;
  color: #161c2d;
  margin-bottom: 8px;
}

.performers__item-text {
  @include font($ff-inter, 400, 14px, 1.29);
  color: rgba(22, 28, 45, 0.7);
}

.performers__warning {
  @include font($ff-inter, 500, 14px, 1.29);
  color: #161c2d;
  max-width: 407px;
  margin-bottom: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 65px;
  position: relative;
  max-width: 300px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 43px;
    height: 43px;
    background-image: url("../../icons/warning.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }
}

.performers__link {
  width: 319px;
  height: 46px;
  letter-spacing: .04em;
  margin: 0 auto;

  @include vp-640 {
    margin: 0;
  }
}
