.process {
  position: relative;
  padding: 60px 0 177px;

  @include vp-960 {
    padding-top: 74px;
  }
}

.process__title {
  @include font($ff-inter, 500, 32px, 1.4);
  color: $color-black-russian;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 0.025em;
}

.process__subtitle {
  @include font($ff-inter, 400, 16px, 1.25);
  color: $color-default-black;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.015em;

  @include vp-960 {
    margin-bottom: 40px;
  }
}

.process__content {
  position: relative;
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;

  @include vp-960 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &::after {
    @include vp-960 {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      translate: -50% 0;
      width: 3px;
      height: 100%;
      border-radius: 10px;
      background: #8c8aff;
    }
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  @include vp-960 {
    padding: 0 70px;
  }
}

.process__item {
  padding-top: 10px;
  margin-bottom: 3px;


  &:nth-child(1) {
    order: 1;
  }

  &:nth-child(2) {
    order: 2;
  }

  &:nth-child(3) {
    order: 3;
  }

  &:nth-child(4) {
    order: 4;
  }

  &:nth-child(5) {
    order: 5;
  }

  &:nth-child(6) {
    order: 6;
  }
}

.process__item-title {
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  @include vp-960 {
    gap: 40px;
  }

  span {
    @include font($ff-inter, 500, 20px, 1.4);
    color: #1c1c1c;

    @include vp-960 {
      font-size: 24px;
    }

    &.process__item-count {
      @include font($ff-atma, 600, 28px, 1.4);

      @include vp-960 {
        font-size: 32px;
      }
    }
  }
}

.process__item-text {
  @include font($ff-inter, 400, 16px, 1.4);
  letter-spacing: -0.01em;
  color: rgba(28, 28, 28, 0.65);

  @include vp-960 {
    font-size: 18px;
  }
}

.process__link {
  width: 313px;
  height: 45px;
  margin: 0 auto;
}
