.reviews {
  background: $color-black-russian;
  padding: 80px 0;

  .container {
    padding: 0;
    max-width: 100%;
  }
}

.reviews__title {
  @include font($ff-inter, 500, 42px, 1.4);
  color: $color-default-white;
  margin-bottom: 12px;
  text-align: center;
}

.reviews__subtitle {
  @include font($ff-inter, 400, 16px, 1.6);
  color: $color-default-white;
  margin-bottom: 60px;
  text-align: center;
}

.reviews__swiper {
  padding: 0 150px;
}

.reviews__list {
  display: flex;
  margin-bottom: 60px;
  cursor: grab;
}

.reviews__item {
  min-width: 210px;
  max-width: 210px;
  height: 297px;
}

.reviews__name {
  @include font($ff-inter, 400, 14px, 1);
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
}
