.reviews {
  background: $color-black-russian;
  padding: 60px 0;

  @include vp-960 {
    padding: 80px 0;
  }

  .container {
    padding: 0;
    max-width: 100%;
  }
}

.reviews__title {
  @include font($ff-inter, 500, 32px, 1.4);
  color: $color-default-white;
  margin-bottom: 12px;
  text-align: center;
  padding: 0 20px;

  @include vp-960 {
    font-size: 42px;
  }
}

.reviews__subtitle {
  @include font($ff-inter, 400, 16px, 1.6);
  color: $color-default-white;
  margin-bottom: 40px;
  text-align: center;
  padding: 0 20px;

  @include vp-960 {
    margin-bottom: 60px;
  }
}

.reviews__swiper {
  padding: 0 20px;

  @include vp-1200 {
    padding: 0 150px;
  }

  .swiper-nav-buttons {
    @include vp-640 {
      display: none;
    }
  }
}

.reviews__list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  cursor: grab;
  user-select: none;

  @include vp-960 {
    margin-bottom: 60px;
  }

  @include vp-640 {
    justify-content: center;
    gap: 24px;
    cursor: default;
  }
}

.reviews__item {
  min-width: 210px;
  max-width: 210px;
  cursor: pointer;
}

.reviews__image {
  border-radius: 7px;
  overflow: hidden;
  width: 210px;
  height: 297px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover
  }
}

.reviews__name {
  @include font($ff-inter, 400, 14px, 1);
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
}
