.scopes {
  background-color: $color-black-russian;
  padding: 60px 0;

  @include vp-960 {
    padding: 79px 0 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.scopes__title {
  @include font($ff-inter, 600, 32px, 1.4);
  color: $color-default-white;
  letter-spacing: 0.015em;
  text-align: center;

  span {
    font-family: $ff-atma;
  }
}

.scopes__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1138px;

  @include vp-640 {
    grid-template-columns: repeat(2, 1fr);

  }

  @include vp-960 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.scopes__item {
  border-radius: 18px;
  padding: 24px;
  min-height: 310px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:nth-child(1) {
    background-image:
      image-set(url("../../images/scopes-1@1x.webp") 1x type("image/webp"),
        url("../../images/scopes-1@2x.webp") 2x type("image/webp"),
        url("../../images/scopes-1@1x.png") 1x type("image/png"),
        url("../../images/scopes-1@2x.png") 2x type("image/png"));
  }

  &:nth-child(2) {
    background-image:
      image-set(url("../../images/scopes-2@1x.webp") 1x type("image/webp"),
        url("../../images/scopes-2@2x.webp") 2x type("image/webp"),
        url("../../images/scopes-2@1x.png") 1x type("image/png"),
        url("../../images/scopes-2@2x.png") 2x type("image/png"));
  }

  &:nth-child(3) {
    background-image:
      image-set(url("../../images/scopes-3@1x.webp") 1x type("image/webp"),
        url("../../images/scopes-3@2x.webp") 2x type("image/webp"),
        url("../../images/scopes-3@1x.png") 1x type("image/png"),
        url("../../images/scopes-3@2x.png") 2x type("image/png"));
  }

  &:nth-child(4) {
    background-image:
      image-set(url("../../images/scopes-4@1x.webp") 1x type("image/webp"),
        url("../../images/scopes-4@2x.webp") 2x type("image/webp"),
        url("../../images/scopes-4@1x.png") 1x type("image/png"),
        url("../../images/scopes-4@2x.png") 2x type("image/png"));
  }

  &:nth-child(5) {
    background-image:
      image-set(url("../../images/scopes-5@1x.webp") 1x type("image/webp"),
        url("../../images/scopes-5@2x.webp") 2x type("image/webp"),
        url("../../images/scopes-5@1x.png") 1x type("image/png"),
        url("../../images/scopes-5@2x.png") 2x type("image/png"));
  }

  &:nth-child(6) {
    background-image:
      image-set(url("../../images/scopes-6@1x.webp") 1x type("image/webp"),
        url("../../images/scopes-6@2x.webp") 2x type("image/webp"),
        url("../../images/scopes-6@1x.png") 1x type("image/png"),
        url("../../images/scopes-6@2x.png") 2x type("image/png"));
  }
}

.scopes__item-title {
  @include font($ff-inter, 700, 23px, 1.5);
  color: $color-black-russian;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}

.scopes__subitem {
  @include font($ff-inter, 400, 16px, 1.5);
  margin-bottom: 4px;
  text-align: center;
  color: #1c1c1c;
}

.scopes__link {
  @include font($ff-inter, 500, 16px, 1);
  width: 236px;
}
