.stats {
  background: linear-gradient(to bottom, #070828 0%, #070828 47%, transparent 47%, transparent 100%);
  padding-top: 30px;

  .container {
    max-width: 1288px;
  }
}

.stats__list {
  background: $color-default-white;
  border-radius: 20px;
  padding: 31px;
  box-shadow: 0 17px 37px 0 rgba(172, 210, 201, 0.1), 0 67px 67px 0 rgba(172, 210, 209, 0.09), 0 151px 91px 0 rgba(172, 210, 200, 0.05), 0 268px 107px 0 rgba(172, 210, 206, 0.01), 0 419px 117px 0 rgba(172, 208, 210, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__number {
  @include font($ff-inter, 600, 48px, 1.4);
  color: #011c19;
}

.stats__text {
  @include font($ff-inter, 400, 20px, 1.6);
  color: rgba(1, 28, 25, 0.7);
}
